{% extends 'admin_header.html' %}

{% block title %}
  Admin Dashbord - List of all city
{% endblock %}


{% block content %}
  <div class="mycard">
    <h1>City</h1>
    <ul>
      <li onclick="window.location = 'details/Kolkata'">Kolkata</li>
      <li onclick="window.location = 'details/Jaipur'">Jaipur</li>
      <li onclick="window.location = 'details/Agra'">Agra</li>
      <li onclick="window.location = 'details/Khajuraho'">Khajuraho</li>
      <li onclick="window.location = 'details/Hampi'">Hampi</li>
      <li onclick="window.location = 'details/Delhi'">Delhi</li>
      <li onclick="window.location = 'details/Darjeeling'">Darjeeling</li>
      <li onclick="window.location = 'details/Belur'">Belur</li>
      <li onclick="window.location = 'details/Konark'">Konark</li>
      <li onclick="window.location = 'details/Kaziranga National Park'">Kaziranga National Park</li>
    </ul>
  </div>
{% endblock %}